<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <title>Web Scraper</title>
     <link rel="stylesheet" href="css/styles.css">
     <link rel="icon" href="Web_Scraper.png" type="image/x-icon">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	
</head>
<body id="dolor">  
        <style>
            body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            }
            
            .topnav {
            overflow: hidden;
            background-color: #66BFBF;
            }
            
            .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            }
            
            .topnav a:hover {
            background-color: #ddd;
            color: black;
            }
            
            .topnav a.active {
            background-color: #11999E;
            color: white;
            }
        </style>

        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/How_to_use">How to Use</a>
            <a id="myBtn">Contact</a>
        </div>

        <%let k=0%>
        <%if(content.length===0){%>
        <p class="first_para">No Info Found!</p>
        <%}%>
        <%if(content.length!==0&&'404 - Not Found'!=content[0]){%>
        <p class="first_para">Some of the related information</p>
        <%}%>
        <%for(let i=0;i!=content.length;i++){%>
        <%if(i==indeces[k]){%>
        <p class="para"><%=content[k++]%></p>
        <%continue;}%>
        <%if(i!=indeces[k]){%>
        <p class="information"><%=content[i]%></p>
        <%}%>
        <%}%>
        <hr>
        <span id="hidden"><%=concept%></span>

        <div class="bottom_container">
            <a class="footer-link" href="https://www.facebook.com/shrinidhi.ballal.1">My-facebook-link</a>
            <p class="Signature">©2021 Shrinidhi Ballal.</p>
        </div>

        <script>
            var x = document.getElementById("myBtn");
            var text=document.getElementById("hidden").textContent;
            var words=text.split(',');
            
            for(let i=0;i<words.length;i++)
            {
                $(document).ready(function() 
                {
                    function hiliter(word, element) 
                    {
                        var rgxp = new RegExp("\\b" + word + "\\b" , 'gi'); 
                        var repl = '<span class="myClass">' + word + '</span>';
                        element.innerHTML = element.innerHTML.replace(rgxp, repl);          
                    };

                    hiliter(words[i], document.getElementById('dolor'));
                });
            }

            if (x.addEventListener) {
            x.addEventListener("click", myFunction);
            } else if (x.attachEvent) {
            x.attachEvent("onclick", myFunction);
            }
            
            function myFunction() {
            alert("My Email Address is ballalshrinidhi@gmail.com");
            }
        </script>

</body>
 
</html>